body{
  background-image: url(../img/body-bg-low.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;
}

.messages{

  height:300px;
  width:500px;
  background-color: #efefef;
  border:solid black 1px;
}

.opponent{
  float:right;
}

.board{
  padding:25px;
  float:left;
}

.opponent-board{
  padding:25px;
  float:right;
}
